{% extends "base.html.twig" %}

{% block title %}Page Article{% endblock %}

{% block body %}
   <h1 class="text-center">L'article que vous avez choisi</h1>
   <div class="container text-center">
        <div class="img">
           <img class="image" src="/assets/images/{{ article.imageArticle}}" width="500" alt="{{ article.title }}">
        </div>
        <p class="date">Ecrit le : {{ article.createdAt | date("d/m/Y") }} </p>
        <div class="content">
            <h5 class="title">{{ article.title }}</h5>
            <p class="texte">{{ article.content | raw }} </p>
            
        </div>
    </div>
 {% endblock %}